<!-- Heredar index.html -->
{% extends "./index.html" %}

{% block title %} Gestión {% endblock %}

{% block body %}
    <!-- Crear columnas -->
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h2 class="text-muted">EQUIPO NFL</h2>
            <div class="card bg-light">
                <div class="card-body">
                    <form action="/registrarDatos/" method="POST">{% csrf_token %}
                        <div class="form-group py-3">
                            <input type="text" name="txtCodigo" class="form-control" placeholder="Código" required minlength="2" maxlength="20">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtEquipo" class="form-control" placeholder="Nombre Equipo" required minlength="4" maxlength="20">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtCiudad" class="form-control" placeholder="Ubicación" required minlength="4" maxlength="20">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtEstadio" class="form-control" placeholder="Nombre Estadio" required minlength="4" maxlength="20">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtNumJugador" class="form-control" placeholder="Número Jugador" required minlength="1" maxlength="3">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtCapacidad" class="form-control" placeholder="Capacidad" required minlength="1" maxlength="5">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtNomDueño" class="form-control" placeholder="Nombre Dueño" required minlength="4" maxlength="20">
                        </div>
                        <div class="form-group py-3">
                            <input type="text" name="txtPosJugador" class="form-control" placeholder="Posición Jugador" required minlength="4" maxlength="20">
                        </div>
                        <div class="form-group py-3">
                                <input type="text" name="txtNomJugador" class="form-control" placeholder="Nombre Jugador" required minlength="4" maxlength="50">
                            </div>
                            
                        


                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success form-control">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">           
             <h2 class="text-muted">LISTA DE EQUIPOS</h2>
            <div class="table-responsive">
                <table class="table table-striped bg-light">
                    <thead class="table-dark">
                        <tr>
                            <th>Código</th>
                            <th>NomEquipo</th>
                            <th>Ubicación</th>
                            <th>NomEstadio</th>
                            <th>NúmJugador</th>
                            <th>Capacidad</th>
                            <th>NomDueño</th>
                            <th>PosJugador</th>
                            <th>Nombre_Jugador</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in liga %}
                        <tr>
                            <td>{{l.codigo}}</td>
                            <td>{{l.equipo}}</td>
                            <td>{{l.ciudad}}</td>
                            <td>{{l.estadio}}</td>
                            <td>{{l.numero_jugador}}</td>
                            <td>{{l.capacidad}}</td>
                            <td>{{l.Nombre_dueño}}</td>
                            <td>{{l.posicion_jugador}}</td>
                            <td>{{l.Nombre_Jugador}}</td>
                            <td><a href="edicionDatos/{{l.codigo}}" class="btn btn-info text-white">Editar</a></td>
                            <td><a href="eliminarDatos/{{l.codigo}}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
