{% extends "./index.html" %}

{% block title %} Editar {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-muted">EDITAR DATOS</h2>
        <div class="card bg-light">
            <div class="card-body">
                <form action="/editarDatos/" method="POST">
                    {% csrf_token %}

                    <div class="form-group py-4">
                        <input type="text" name="txtCodigo" value="{{nfl.codigo}}" readonly class="form-control" placeholder="Código" required minlength="2" maxlength="20">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtEquipo" value="{{nfl.equipo}}" class="form-control" placeholder="Equipo" required minlength="4" maxlength="50">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtCiudad" value="{{nfl.ciudad}}" class="form-control" placeholder="Ciudad" required minlength="4" maxlength="50"> 
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtEstadio" value="{{nfl.estadio}}" class="form-control" placeholder="Estadio" required minlength="4" maxlength="50">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtNumJugador" value="{{nfl.numero_jugador}}" class="form-control" placeholder="Número Jugador" required minlength="1" maxlength="4">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtCapacidad" value="{{nfl.capacidad}}" class="form-control" placeholder="Capacidad" required minlength="1" maxlength="100000">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtNomDueño" value="{{nfl.nombre_dueño}}" class="form-control" placeholder="Nombre Dueño" required minlength="4" maxlength="50">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtPosJugador" value="{{nfl.posicion_jugador}}" class="form-control" placeholder="Posición Jugador" required minlength="4" maxlength="50">
                    </div>

                    <div class="form-group py-4">
                        <input type="text" name="txtNomJugador" value="{{nfl.Nombre_Jugador}}" class="form-control" placeholder="Nombre Jugador" required minlength="4" maxlength="50">
                    </div>
                    

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success form-control">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
